---
layout: base
banner: /images/
large_header: true
---
<div class="ui vertical navigation segment">
  <div class="ui three column grid container">
    {% assign home_pages = site.pages | sort: 'order' %}
    {% for page in home_pages %}
      {% if page.title and page.categories contains 'home' %}
        <div class="column">
            <div class="navigation-item">
              <a href="{{ page.url || prepend: site.baseurl }}">
                <h2 class="ui header">
                  <i class="{{ page.icon }} icon"></i>
                  <div class="content">
                    {{ page.title }}
                  </div>
                </h2>
                <p>{{ page.description }}</p>
              </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
