<footer class="ui inverted vertical footer segment">

  <div class="ui container">

    <div class="ui stackable inverted divided equal height grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <h4 class="ui inverted header">{{ site.title }}</h4>
          <a class="item" href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>

      <div class="three wide column">
        <div class="ui inverted link list">
          {% if site.github_username %}
            {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.twitter_username %}
            {% include icon-twitter.html username=site.twitter_username %}
          {% endif %}
        </div>
      </div>

      <div class="seven wide column">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
