<header class="site-header">

  <div class="ui large borderless secondary menu">
    <div class="ui container">
      <a class="header item" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <div class="right menu">
        {% for page in site.pages %}
          {% if page.title %}
          <!-- <a class="item" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> -->
          {% endif %}
        {% endfor %}

        <div class="ui item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>

      </div>
    </div>
  </div>

</header>
