.footer.segment {
    padding: 2em 0em;
}

#banner {
    padding: 1rem 0;
    background: url(#{$base-dir}/images/banner/img-home-web.jpg) no-repeat center center #514947;
    background-size: cover;

    .banner-menu {
        .header.item {
            img {
                margin-right: 1rem;
            }
        }
    }

    .banner-welcome {
        padding: 5rem 0;

        .header > .headline {
            line-height: 1.5em;
            font-size: 1.5em;
        }

        .header > .tagline {
            font-size: 0.75em;
        }
    }
}

.ui.navigation.segment {
    padding: 5rem 0;
}

.ui.container.page {
    padding: 2rem 0;
}

.navigation-item {
    padding: 1rem;

    a {
        color: $text-color;
    }

    &:hover{
        background: rgba($text-color, .03);
    }
}